<div class="container-sm">
  <div class="h1">Stupid Coaching</div>
  <h1>Stupid Coaching</h1>
  <form action="/answer" method="get" data-turbo="false">
    <label for="question" class="form-label">Ask your coach anything:</label>
    <div class="mb-3 input-group">
      <input type="text" name="question" id="question" class="form-control">
      <input type="submit" value="Ask!" class="btn btn-primary">
    </div>
  </form>
</div>
